<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<%- include("partials/head.ejs")%>
</head>
<body>

	<%- include('partials/navigator.ejs') %>
	<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
		<section>
			<h1>About</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Suscipit fugiat nihil facilis ab dolore necessitatibus ex qui pariatur quisquam, eligendi fugit praesentium vel, minus earum et. Facere voluptatibus culpa iusto fugit laboriosam cum nostrum rerum illum quo velit perferendis ex quibusdam id, aperiam possimus ab sunt molestiae quam, corporis ducimus harum? Dolorum odio nihil porro ab tempora rerum dolorem accusamus laudantium, asperiores impedit a quia, numquam. Quis pariatur provident magni vitae ad quo hic voluptatibus. Porro facere perferendis odio eius quia deleniti cupiditate dolor laboriosam, sed obcaecati ut quis quam minus cumque iste reprehenderit nisi similique! Error commodi facilis quidem quia adipisci sunt eaque doloribus perferendis excepturi est, distinctio fugit labore quo. Voluptates rerum ex vel, veniam. Tenetur consequuntur debitis architecto incidunt tempore recusandae ratione magni veniam sed adipisci commodi blanditiis, voluptas provident quae? Ea eius quam magni quos assumenda optio quia debitis deleniti voluptatum consequuntur saepe, rem voluptate laudantium fuga voluptatibus explicabo animi accusantium nemo atque facere suscipit nihil ipsam labore. Nesciunt ipsam corporis, eos delectus officiis repellendus ex nemo quae id ipsa, placeat itaque sunt, tempora voluptatem. Fuga modi quam officia at provident enim quae, porro praesentium vero, pariatur saepe odit quo. Rerum facilis in porro, odit voluptatum.</p>
		</section>
	
	</main>
	
	<%-include("partials/footer.ejs")%>
</body>
</html>